:root {
	--black: #000;
	--grey: #34495e;
	--blue: #3498db;
	--red: #e74c3c;
	--silver: #bdc3c7;
	--main-color: #2c3e50;
	--cloud: #f7fbfc;
}

body {
    font-family: sans-serif;
	color: var(--black);
	padding: 0;
	margin: 0;
	font-size: 16px;
	position: relative;
}

header {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 999;
	box-shadow: 1px 1px 1px #999;
}

header a {
	font-size: 20px;
	color: var(--main-color);
	font-weight: bold;
	font-weight: lighter;
	transition: 0.4s ease all;
}

header a:hover {
	transition: 0.4s ease all;
}

.sub-title-1 {
	margin: 2rem 0;
	font-size: 1.4rem;
}

.card {
	margin: 20px 0;
}

#section1 {
	background: url('../images/landing.JPEG') no-repeat center;
	background-size: cover;
	min-height: 100vh;

	
}

#section1-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 6rem;
	box-sizing: border-box;
}

#section1-1 h1 {
	padding: 2rem;
	color: var(--main-color);
	font-weight: bolder;
}

#section1-1 .card {
	background: rgba(255, 255, 255, 0.9);
	padding: 2rem;
	transition: .4s ease all;
}

.block-title {
	background: #fff;
}

.block-title .title {
	text-align: center;
	font-size: 3rem;
	padding: 2rem 0;
	color: var(--main-color);
	font-weight: bold;
	letter-spacing: 2px;
}

#section2 {
	background: var(--cloud);
}

#team {
	background: var(--cloud);
}

#team .row {
	justify-content: center;
}

#team img {
	width: 750px;
}

#info {
	padding: 1rem 0;
	color: var(--main-color);
}

footer {
	background: var(--black);
	padding: 4px 0;
	display: flex;
	justify-content: center;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: var(--silver);
}

#full_screen {
	position: fixed;
	width: 600px;
	height: 480px;
	background: #000;
	top: 120px;
	left: 50%;
	margin-left: -300px;
	display: none;
	z-index: 999;
}

@media screen and (max-width: 640px){
	header {
		position: relative;
		flex-direction: column;
		justify-content: center;
		box-shadow: 1px 1px 1px #fff;
	}

	header #logo {
		text-align: center;
	}

	header nav {
		flex-direction: column;
		text-align: center;
	}

	header a {
		display: block;
	}

	#contact h3 {
		font-size: 1.2rem;
	}

	footer {
		flex-direction: column;
		text-align: center;
	}
}
